.App {
  text-align: center;  
  margin: 0;
	padding: 0;
	border: 0;
}

* {
  margin: 0;
	padding: 0;
	border: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-container{
  background-image: url("./img/car.jpeg");
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  filter: grayscale(50%);
}

.inner-container{
  padding-top: 200px;
  justify-content: center;
  align-items: center;
}

.inner-container > h1 {
  padding-bottom: 20px;
  color: rgb(255, 255, 255)
}

.inner-container > input {
  height: 30px;
  padding: 0 0 0 10px;
  background-color: yellow;
  text-align: center;
  margin-left: 10px;
 
}

.inner-container > button {
  height: 30px;
  padding: 0 20px 0;
  font-weight:500;
  margin-right: 5px;
  background-color: white;
}

.card{
  background-color: white;
  border-radius: 80px;
  margin: -800px 10% 50px;
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card > h2{
  padding-bottom: 20px;
}

.carousel{
  margin-top: 400px;
  margin-bottom: 50px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}